@using RPNETForum.Extensions.Users
<!DOCTYPE html>
<html>
<head>
    @{
        Html.RenderPartial("Header");
    }
</head>
<body>
    @{
        Html.RenderPartial("Menu");
    }
    <div class="container body-content">
        <div class="modal-content" style="margin-bottom: 20px">
            <div class="modal-body">
                @if (UserSession.IsLoggedIn) {
                    <div style="display: inline-block">
                        <img src="@UserSession.CurrentUser.GetProfilePic()" height="75px" width="75px" alt="@UserSession.CurrentUser.DisplayName" />
                    </div>
                    <div class="row" style="margin-left: 10px; display: inline-block">
                        <a href="@Settings.Url/User/@UserSession.CurrentUser.Id">@UserSession.CurrentUser.DisplayName</a> (<a href="~/Logout">Logout</a>)
                        <br />
                        <i>Last login: @UserSession.CurrentUser.LastLogin.ToLongDateString() @UserSession.CurrentUser.LastLogin.ToLongTimeString()</i>
                    </div>
                } else {
                    <a href="~/Login">Login</a> @Html.Raw("|") <a href="~/Register">Register</a>
                }
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
